body {
  font-family: helvetica;
  font-size: 1.5em;
  color: red;
  background-image: url("images/stripes.png"); }

.container {
  display: inline-block;
  width: 1000px;
  height: 1300px;
  padding: 0px;
  margin-left: 10%;
  border-radius: 6px;
  margin-right: 10%;
  border: 3px black solid;
  background-image: url("images/scene2bg.jpg"); }

.walls {
  display: inline-block;
  width: 1000px;
  height: 650px;
  padding: 0px;
  border: 1px red solid; }

.window {
  position: absolute;
  display: inline-block;
  width: 300px;
  height: 300px;
  top: 178px;
  right: 200px;
  background-image: url("http://placehold.it/300x300"); }

.lockers {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 552px;
  top: 75px;
  left: 427px;
  background-image: url("images/final_open_locker_small.png");
  /*   transition: background-image 0.2s ease-in-out; */ }

.fireplace {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  top: 414px;
  background-image: url("http://placehold.it/300x200"); }

.door {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 500px;
  top: 115px;
  float: right;
  background-image: url("http://placehold.it/40x500"); }

.floor {
  display: inline-block;
  width: 1000px;
  height: 650px;
  padding: 0px;
  border: 1px red solid; }

.table {
  display: inline-block;
  width: 200px;
  height: 200px;
  top: 0px;
  background-image: url("http://placehold.it/200x200"); }

.dogbowl {
  display: inline-block;
  float: right;
  width: 50px;
  height: 85px;
  top: 0px;
  background-image: url("http://placehold.it/50x85"); }

.snips {
  display: inline-block;
  width: 150px;
  height: 150px;
  top: 0px;
  background-image: url("http://placehold.it/150x150"); }

.laptop {
  display: inline-block;
  width: 100px;
  height: 80px;
  top: 414px;
  border: 1px red solid;
  /* background-image:url("images/CALVIN.gif"); */ }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 130px;
  width: 100%; }

#message {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: center; }

#inv {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: gray;
  opacity: 0.5; }
