
body{


}
form{
border: 1px solid black;

}

fieldset{
  border: 1px solid red;

}

legend{
  border: 1px solid yellow;

}

.name{
  border: 1px solid teal;

}

label{
  border: 1px solid pink;

}

input{
  border: 1px solid magenta;

}
