body {
  font-family: helvetica;
  font-size: 1.5em;
  color: red;
  background-image: url("images/stripes.png"); }

.container {
  display: inline-block;
  width: 1000px;
  height: 1000px;
  padding: 0px;
  margin-left: 10%;
  border-radius: 6px;
  margin-right: 10%;
  border: 3px black solid;
  background-image: url("images/scene2bg.jpg"); }

.walls {
  display: inline-block;
  width: 1000px;
  height: 650px;
  padding: 0px;
  border: 1px red solid; }

.window {
  position: relative;
  display: inline-block;
  width: 259px;
  height: 300px;
  top: 178px;
  left: 665px;
  background-image: url("images/window-01.png"); }

#lockers {
  position: absolute;
  display: inline-block;
  width: 350px;
  height: 552px;
  top: 75px;
  left: 427px;
  background-image: url("images/final_closed_locker_small.png");
  /*   transition: background-image 0.2s ease-in-out; */ }

#fireOff {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 221px;
  top: 88px;
  background-image: url("images/cold_fireplace.png"); }

#fireOn {
  position: relative;
  width: 300px;
  height: 221px;
  top: 88px;
  display: none;
  background-image: url("images/hot_fireplace.png"); }

.door {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 500px;
  float: right;
  bottom: 350px;
  border: 1px red solid;
  background-image: url("images/door-01.png"); }

.floor {
  display: inline-block;
  width: 1000px;
  height: 300px;
  padding: 0px;
  position: relative;
  border: 1px red solid; }

.table {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-image: url("images/desk_laptop-01.png");
  background-repeat: no-repeat;
  position: absolute; }

.dogbowl {
  display: inline-block;
  float: right;
  width: 120px;
  height: 120px;
  top: 0px;
  background-image: url("images/bowl.png"); }

.rug {
  display: inline-block;
  border: 1px red solid;
  top: 100px;
  left: 400px;
  width: 213px;
  height: 79px;
  position: absolute;
  border-radius: 70%;
  background-image: url("images/rug.jpeg"); }

.snips {
  display: inline-block;
  position: relative;
  top: -60px; }

#asleep {
  width: 200px;
  height: 200px;
  background-image: url("images/snips_down.png");
  background-repeat: no-repeat; }

#awake {
  width: 200px;
  height: 200px;
  bottom: 70px;
  position: relative;
  background-image: url("images/snips_up.png");
  background-repeat: no-repeat;
  display: none; }

.laptop {
  position: relative;
  margin-top: 4px;
  display: inline-block;
  width: 112px;
  height: 68px;
  left: 92px;
  border: 1px red solid;
  /* background-image:url("images/CALVIN.gif"); */ }

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 130px;
  width: 100%; }

#message {
  display: inline-block;
  width: 100%;
  height: 30px;
  text-align: center; }

#inv {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: gray;
  opacity: 0.5; }

.key {
  display: none;
  width: 30%;
  height: 30%; }

.keys {
  display: inline-block; }

#key5 {
  border: 1px red solid;
  width: 30px;
  height: 40px;
  top: 160px;
  right: 159px;
  position: absolute; }
