body {
  font-family: helvetica;
  font-size: 2em;
  background-image: url("images/stripes.png");
  color: black; }


.container {
  display: inline-block;
  width: 1000px;
  height: 640px;
  padding: 0px;
  position: relative;
  border-radius: 10px;
  margin-right: 10%;
  border: 5px black solid;
  background-image: url("images/scene3bg.png"); }

#fan {
  width: 483px;
  height: 204px;
  position:absolute;
  background-image:url("images/fanoff.png");
  background-repeat:no-repeat;
  left: 276px;
}

#lockdown {

  top:95px;
  width:1000px;
  height:500px;
  position:absolute;
  background-image:url("images/lockdown.png");

}

#door {
  left: 317px;
  top: 210px;
  width: 344px;
  height: 373px;
  position:absolute;

}


///INVENTORY

footer {
  position: fixed;
  left: 1016px;
  top: 0px;
  height: 500px;
  width: 245px;
   }

#message {
  display: inline-block;
  width: 85%;
  height: 225px;
  margin: 12px;
  }
  #message span {
    color: red;
    font-size: 0.7em; }


#inv {
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: gray;
  opacity: 0.5;
  padding-bottom: 100%; }

progress {
  background-color: green;
  border: 2px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  width: 239px;
  }



//KEYS

.keys {
  display:inline-block;
}

.key {
  display:none;
  position:relative;
}

#key5 {
  width:30px;
  height:40px;
  top: 594px;
  right: 159px;
  position: absolute;
}
