/* <form action="">
  <fieldset>
    <legend>
      Exit Code
    </legend>
    <input id="enterNum" type="number" required="required" maxlength="4">
    <input id="submit" type="submit" value="Enter">
  </fieldset>
</form> */

body {
  font-family:helvetica;
  font-size:2.4em;
  background-image:url("images/stripes.png");
  color:white;
  -webkit-text-stroke-width: 1.7px;
  -webkit-text-stroke-color: black;

}

.container {
  display:inline-block;
  position:relative;
  width:1000px;
  height:650px;
  padding:0px;
  margin-left:10%;
  border-radius:6px;
  margin-right:10%;
  border:3px black solid;
  text-align:center;
  //Get the new background image
  background-image:url("images/scene4bg.png");
  #lock {
    position: inline-block;
    margin-top: 148px;
    margin-left: 85px;

  }
  form {
    display:none;
    margin-left:388px;
    width:225px;
    fieldset {
      legend {
        color:black;
        font-size:14px;
      }
    }
  }
}

footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:130px;
    width:100%;
}

#message {
  display:inline-block;
  width:100%;
  height:30px;
  text-align:center;

}

#inv {
  display:inline-block;
  width:100%;
  height:100px;
  background-color:gray;
  opacity:.5;

}

.hidden {
  display:none;
}
